@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./fonts.css";
 */

@layer base {
    body {
        margin: 0 auto;
        /* font-family: "Roboto Serif", serif; */
        @apply bg-[#00990B];
    }
    html {
        font-family: "Roboto", sans-serif;
    }
}
#__next {
    height: 100vh;
    min-height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
}
